// Text Alignment
section.text-align-left {
    text-align: left;
}
section.text-align-center {
    text-align: center;
}
section.text-align-right {
    text-align: right;
}


// Text Colour
section.text-colour-black {
    color: $black;
}
section.text-colour-white {
    color: $white;
}
section.text-colour-yellow {
    color: $yellow;
}
section.text-colour-blue {
    color: $blue;
}
section.text-colour-grey {
    color: $grey;
}
section.text-colour-red {
    color: $red;
}


// Image
section.image-right,
section.image-left {
    display: flex;
    flex-direction: row;
    
    &> div {
        width: 50%;
        padding: 30px 65px 0 40px;

        p {
            margin-left: 15px;
        }
    }
    &> img {
        width: 50%;
        object-fit: cover;
    }
}
section.image-left {
    flex-direction: row-reverse;
}


// Sopecific Sections
section.hero {
    height: 893px;
    // max-height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 100px 0 25px;
}
section.section-2 {
    margin: 110px auto 23px;
    max-width: 670px;
}
span.meta {
    font-size: 0.8em;
    color: $meta-gray;
}
section.section-4 {
    margin: 65px auto 7px;
    font-size: 0.9em;
    max-width: 850px;
    letter-spacing: -0.6px;

    p {
        margin-bottom: 21px;
    }
}