/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  color: $white;
  line-height: 50px;
  font-weight: normal;
  padding: 0 35px;
  border: 0;
  cursor: pointer;
  transition: 0.25s;

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  &:visited {
    color: $white;
  }

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button


// black button
a.black-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $black;

  &:hover,
  &:focus {
    background-color: darken($black, 4%);
  } // end hover

  &:active {
    background-color: darken($black, 5%);
  } // end active

} // end black button


// yellow button
a.yellow-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $yellow;
  color: $black;

  &:hover,
  &:focus {
    background-color: darken($yellow, 4%);
    color: $black;
  } // end hover

  &:visited {
    color: $black;
  }

  &:active {
    background-color: darken($yellow, 5%);
  } // end active

} // end yellow button


// white button
a.white-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $white;
  color: $black;

  &:hover,
  &:focus {
    background-color: darken($white, 4%);
    color: $black;
  } // end hover

  &:visited {
    color: $black;
  }
  
  &:active {
    background-color: darken($white, 5%);
  } // end active

} // end white button


// blue button
a.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button
