section.hero {
    height: 400px;
}

h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
h3 {
    font-size: 25px;
    letter-spacing: 0;
    margin: 5px 0 20px;
}
p {
    font-size: 18px;
}

#inner-footer {
    flex-direction: column;
}
.logos, .contact {
    justify-content: center;
}